.nav-content, .nav-content-table {
    padding-block: 32px;
    display: flex;
    align-items: center;
}

.nav-content-table {
    display: none;
}

.nav-content .hamburger {
    max-height: 20px;
    color: var(--Amarillo);
}

.nav-content .logo {
    margin: auto;
    color: var(--Amarillo);
}
